body {
    font-family: "Tahoma", sans-serif;
    background: #fafafa;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 90%;
    max-width: 450px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .input-section {
    display: flex;
    gap: 10px;
  }
  
  .input-section input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
  }
  
  .input-section button {
    padding: 10px 18px;
    background: #31AB35FF;
    border: none;
    font-size: 16px;
    color: white;
    border-radius: 6px;
    cursor: pointer;
  }
  
  .input-section button:hover {
    background: #27982c;
  }
  
  ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
  }
  
  li {
    background: #f3f3f3;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .completed {
    text-decoration: line-through;
    color: gray;
  }
  